<%- include("../partials/Nav.ejs") %>
<!DOCTYPE html>
<html>
  <head>
    <title>update Page</title>
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css"
    />
    <style>
      .containers {
        width: 98.76vw;
        height: 92vh;
        display: flex;
        justify-content: center;
        align-items: center;
        /* background-image: linear-gradient(rgb(122, 241, 209),rgb(156, 156, 248)); */
        background-color: #39b39e;
      }
      .login_form_main_block {
        width: 40%;
        border: 1px solid gray;
        padding: 3%;
        border-radius: 8px;
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        background-color: #ebfff7;
        box-shadow: 0px 3px 11px 1px black;
      }
      h1 {
        color: #39b39e;
      }
      .form-link {
        margin-top: 2%;
        text-decoration: none;
        color: #39b39e;
      }
      .form-label {
        color: #39b39e;
      }
    </style>
  </head>
  <body>
    
    <main class="containers">
      <section class="login_form_main_block">
        <h1 class="login-heading">update Page</h1>
        <form
          action="/update"
          class="row g-6 needs-validation"
          validate
          method="post"
        >
        
          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">Title</label>
            <input
              type="text"
              class="form-control"
              id="validationCustom01"
              required
              name="title"
              autocomplete="off"
              value=<%=value.title %>
            />
            <div class="valid-feedback">Looks good!</div>
          </div>

          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">Author</label>
            <input
              type="text"
              class="form-control"
              id="validationCustom01"
              required
              name="author"
              autocomplete="off"
              value=<%=value.author %>
            />
            <div class="valid-feedback">Looks good!</div>
          </div>

          <div class="col-md-12">
            <label for="validationCustom01" class="form-label">Prize</label>
            <input
              type="number"
              class="form-control"
              id="validationCustom01"
              required
              name="prize"
              autocomplete="off"
              value=<%=value.prize %>
            />
            <div class="valid-feedback">Looks good!</div>
          </div>

          <div class="col-md-12">
              <div class="col-md-12">
                <label for="validationCustom01" class="form-label"
                  >category</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="validationCustom01"
                  required
                  name="category"
                  autocomplete="off"
                  value=<%=value.category %>
                />
                <div class="valid-feedback">Looks good!</div>
              </div>

              <div class="col-md-12">
                <label for="validationCustom01" class="form-label">Title</label>
                <input
                  type="hidden"
                  class="form-control"
                  id="validationCustom01"
                  required
                  name="_id"
                  autocomplete="off"
                  value=<%=value._id %>
                  
                />
                <div class="valid-feedback">Looks good!</div>
              </div>
          
          <div class="col-12 mt-3">
            <button class="btn btn-outline-success" type="submit">Update</button>
          </div>
        </form>
      </section>
    </main>
  </body>
</html>
